<!-- Menu -->
<ion-menu side="end" content-id="content" menu-id="content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-item lines="none">
        <ion-icon name="arrow-back-outline" *ngIf="showInfoUser || showOrder" (click)="back()"></ion-icon>
        <ion-title>Menu usuario</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
 
  
  <ion-content>
    <ng-container *ngIf="!showInfoUser && !showOrder">
      <ion-list>

        <!-- Comprueba si hay una sesion abierta y cambia item -->
        <ion-item (click)="authService.isLogged ? logout() : showPanelUser()">
          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>{{(authService.isLogged ? 'Cerrar Sesión' : 'Iniciar Sesión')}}</ion-label>
          </ion-item>
        </ion-item>

        <!-- Muestra el pedido -->
        <ion-item (click)="showPanelOrder()">
          <ion-item>
            <ion-icon slot="start" name="cart-outline"></ion-icon>
            <ion-badge slot="start">{{orderService.numProducts()}}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Ver pedido</ion-label> 
          </ion-item>
        </ion-item>

        <!-- Si hay un usuario logueado muestra opcion de pedidos -->
        <ion-item *ngIf="authService.isLogged">
          <ion-item>
            <ion-icon slot="start" name="fast-food-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="goToListOrders()">
            <ion-label>Ultimos pedidos</ion-label>
          </ion-item>
        </ion-item>

        <!-- Si hay un usuario logueado muestra datos cliente y permite modificar -->
        <ion-item *ngIf="authService.isLogged">
          <ion-item>
            <ion-icon slot="start" name="body-outline"></ion-icon>
          </ion-item>
          <ion-item (click)="datosCliente()">
            <ion-label>Datos personales</ion-label>
          </ion-item>
        </ion-item>
      </ion-list>

      <!-- Muestra el Info -->
      <ion-item (click)="infoApp()">
        <ion-item>
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Información APP</ion-label> 
        </ion-item>
      </ion-item>
    </ng-container>

  <!-- Si pulsamos Iniciar sesion -->
    <!-- Panel de usuario -->
    <ng-container *ngIf="showInfoUser">
      <!-- Login -->
      <app-login *ngIf="!showNewAccount" (newAccount)="newAccount()" (back)="back()" (doLogin)="back()">
      </app-login>
      <!-- Crear cuenta -->
      <app-create-account *ngIf="showNewAccount" (back)="showLogin()" (doCreateAccount)="back()">
      </app-create-account>
    </ng-container>

    <!-- Si pulsamos Ver pedido -->
    <!-- Panel de pedido -->
    <ng-container *ngIf="showOrder">
      <app-list-product-order></app-list-product-order>
      <ion-button expand="block" (click)="goToPay()">
        <ion-icon slot="start" name="fast-food-outline"></ion-icon>
        <ion-text>CONFIRMAR PEDIDO</ion-text>
      </ion-button>
    </ng-container>
  </ion-content>
</ion-menu>

<!-- Cabecera -->
<ion-header translucent>
  <ion-toolbar color="dark">

    <!-- Volver atras-->
    <!-- <ion-buttons slot="start" class="back-button">
      <ion-icon name="arrow-back-outline" *ngIf="showBackButton()" color="light" (click)="goBack()"></ion-icon>
    </ion-buttons>  -->

    <!-- Carrito -->
    <ion-icon color="light" size="large" slot="start" name="cart-outline" (click)="openMenu()"></ion-icon>
    <ion-badge slot="start">{{orderService.numProducts()}}</ion-badge>

    <!-- Logo -->
    <ion-title class="titulo" color="light">
      <img class="logo" src="/assets/logo.png" />
      LA ESQUINA
    </ion-title>

    <!-- Botón menu -->
    <ion-buttons slot="end">
      <ion-menu-button color=light></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> 