  .swiper-container{
      width: 100%;
      height: 100%;
  }

  .swiper-slide{
     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

// Cambiar fondo pagina
// ion-content{
//     --ion-background-color: #dcff80;
// }

.botones{
    margin-top: 20px;
    margin-bottom: 20px;
}
.titulo {
    font-family: 'permanent';
    src: url('/assets/fonts/PermanentMarker-Regular.ttf');
    font-size:xx-large;
    color:rgb(0, 0, 0);
    text-align: center;
  }

.horario{
    text-align: center;
    font-size:large;
}
ion-icon {
    font-size: 16px;
  }