//  .swiper-container{
//      width: 100%;
//      height: 100%;
//  }

//  .swiper-slide{
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//      justify-content: center;
//  }

// Cambiar fondo pagina
// ion-content{
//     --ion-background-color: #dcff80;
// }

.botones{
    margin-top: 20px;
    margin-bottom: 20px;
}