ion-card.product img{
    width: 200px;
    height: 200px;
}

ion-text.price-checkbox{
    font-size: 20px;
    padding-left: 10px;
}

ion-text.price-radio {
    font-size: 20px;
}

.product-quantity{
    font-size: 20px;
}